  * {
  font-family: "Mozilla Headline", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  padding: 0px;
  margin: 0px;
}
body{
     /* DESKTOP BACKGROUND (Image) */
     background-image:url(./assets/bg.jpg);
     background-size:cover;
     background-position: center;
     background-repeat: repeat;
     height: 100vh;
}

i{
    color:aliceblue;
    padding-left: 10px;
}
i:hover{
    color: #030303;
}
nav{
     position: sticky;
     top:0;
     z-index: 10;
     background-color: #000;
}
 
.navbar{
    border : 2px solid black;
    display: flex;
    justify-content: space-between;
    background-color: #000;
    height: 4.5rem;
    align-items: center;
    overflow: visible;
}
.navigation{
  border : 2px solid black;
  display: inline-block;
  width: 50%;
  display: flex;
  justify-content:space-evenly;
   background-color: #000;
   color:aliceblue;
}
.section{
    display: inline-block;
     background-color: #000C;
}
 
a{
    background-color: #000; 
    color:aliceblue;
    text-decoration: none;
}
a:hover{
    background-color: aliceblue;
    color: #000;
}
.portfolio{
    color:#f2ff00;
    background-color: #000;
    font-size: 2rem;;
    padding-left: 1.9rem;
    letter-spacing: 0.25rem;
}
.pad{
    padding-left: 1.5rem;
}
.pro{
    padding-left: 1.5rem;
}
.homeee{
    height: 35rem;
    width: 65rem;
    border: 2px solid rgb(253, 252, 252);
   margin: 3.5rem 0 0 15rem;
   background-color: rgba(255, 255, 255, 0.6);
   box-shadow: 5px 5px 20px rgb(255, 255, 255);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
 .image img{
    border-radius: 50%;
    height: 15rem;
    width:15rem;
    border: 3px solid black;
 }
 .button{
    position:absolute;
    right:17rem;
    top :9rem;
    
     border-radius: 15px;
     padding-right: 0.5rem;
 }
 #but{
    background-color: #000;
    color: aliceblue;
    padding: 0.5rem;
     border: 2px solid whitesmoke;
    
    border-radius: 16px;
 }
 .padd{
    padding-right: 1rem;
 }
 h1{
    text-transform: uppercase;
    background-color: #000;
    color: aliceblue;
    padding: 0.55rem;
    border: 2px solid whitesmoke;
    border-radius: 20px;
 }
 .aboutinfo{
    height: 30rem;
    width:90%;
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10rem;
    margin-top: 2rem;
    padding-left:3rem;
    line-height: 1.7rem;
    letter-spacing: 0.1rem;
 }
 .aboutme{
    border: 2px solid white;
    color: aliceblue;
display: inline-block; 
height:3rem;
width: 6rem;   
display: flex;
justify-content: center;
align-items: center;
border-radius: 20px;
position: relative;
top:5rem;
left:40rem;

 }
 .outter{
    height: 35rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    display: inline-block;    
 }
 .skillssection{
    height: 30rem;
    width: 65rem;
    border: 3px solid rgb(3, 6, 61);
   margin: 3.5rem 0 0 15rem;
   background-color: rgba(0, 1, 11, 0.726);
   box-shadow: 5px 5px 10px rgb(0, 0, 0);
   display:inline-block;
    border-radius: 30px 0px 30px 0px;
    box-shadow: 4px 6px 24px rgb(199, 126, 255);

 }
  
 .skills{
    display: inline-block;
 }

 .skillicon{
    color: #ffffff;
 }
 .frontend{
    height: 3rem;
    width:65rem;
    /* border: 2px solid black; */
    display: inline-block;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5rem;
 }
 .line{
    display: inline-block;
    border: 2px solid rgb(255, 254, 254);
    padding:1rem;
    background-color: rgba(2, 12, 90, 0.801);
    border-radius: 0px 15px 0px 15px;
    font-weight: 900;
    color: aliceblue;
    justify-content: baseline;
    box-shadow: 2px 4px 6px rgb(0, 213, 255);
 }
 .front{
    margin-top: 0.3rem;
    border:2px solid black;
    padding:1rem;
    background-color: rgb(186, 176, 255);
    border-radius:  0px 20px 20px 0px;
     font-weight: 900;
     font-size: 1.5rem;
     box-shadow: 5px 0px 2px aliceblue;
 }
 #skill{
    border:2px solid rgb(255, 255, 255);
    color: aliceblue;
    display: inline-block;
    position: relative;
    top:2rem;
    left:30rem;
    padding: 1rem;
    background-color: #000;
    font-weight: bolder;
    border-radius: 30px;
    box-shadow: 2px 4px 4px wheat;
 }
 .spytify{
    height: 15rem;
    width: 15rem;
    
 }
 .card1{
    border:10px solid #181818;
    width: 15rem;
    height: 25rem;
    border-radius: 20px;
    color: #ffffff;
    font-weight: 400;
    background-color: #121212;
    padding: 1rem;
    box-shadow: 5px 5px 10px #1db954;
    display: inline-block;
    margin: 2rem;

 }
 .btn{
    color: #1db954;
    background-color: #181818;
    padding: 1rem;
    border-radius: 20px;
    box-shadow: 2px 4px 6px greenyellow;
 }
 .contactouter{
     height: 30rem;
    width: 65rem;
    border: 3px solid rgb(61, 3, 3);
   margin: 3.5rem 0 0 15rem;
   background-color: rgba(220, 220, 220, 0.726);
   box-shadow: 5px 5px 10px rgb(0, 0, 0);
   display:inline-block;
    border-radius: 30px  ;
    box-shadow: 4px 6px 24px rgb(253, 18, 18);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 .input{
    padding:0.5rem;
    margin: 0.3rem;
    width: 30rem;
    border-radius: 20px;
 }
 .contacticons{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .conicon{
    padding: 0.5rem;
    background-color: #000;
    color: aliceblue;
    margin: 1rem;
    display: flex;
    padding-right: 0.9rem;
    align-self: center;
    justify-content: center;
    border-radius: 10px;
 }
 .btns{
    padding: 0.7rem;
    align-self: center;
    background-color: #000;
    color: aliceblue;
    border-radius: 10px;

 }
 .link {
     background-color: #0077B5;
     height: 1rem;
     width: 1rem;
 }
 .emailid{
    background-color: #FF2C2C;
     height: 1rem;
     width: 1rem;
 }
 .github:hover{
    background-color: #ffffff;
    color:#000;
 }


/* --- MOBILE RESPONSIVENESS STYLES (Max Width: 768px) --- */
@media (max-width: 768px) {
    
    /* MOBILE BACKGROUND CHANGE */
    body {
        background-image: url(./assets/bg.jpg); /* Removes the image */
        /* background-color: #000000; Sets background to Black */
    }

    /* NAVIGATION BAR */
    .navbar {
        flex-direction: column;
        height: auto;
        padding-bottom: 10px;
    }
    .navigation {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }
    .navigation a {
        font-size: 0.7rem;
        padding: 5px;
        margin: 5px 3px;
        line-height: 1.1;
    }
    .portfolio {
        font-size: 1.5rem;
        padding-left: 0;
        margin-top: 10px;
    }
    
    /* HOME SECTION */
    .homeee {
        width: 90%;
        margin: 2rem auto;
        height: auto;
        padding: 1rem;
        text-align: center;
    }
    .image img {
        height: 10rem;
        width: 10rem;
    }
    .button {
        position: static;
        margin-top: 1rem;
        right: auto;
        top: auto;
    }
    h1 {
        font-size: 1.5rem;
        padding: 0.3rem;
    }
    h3 {
        font-size: 0.9rem;
    }
    .homeee p {
        font-size: 0.8rem;
    }

    /* ABOUT SECTION */
    .outter {
        width: 100%;
        height: auto;
        padding: 10px;
        background-color: #000;
    }
    .aboutme {
        position: static;
        margin: 1rem auto;
        
    }
    .aboutinfo {
        height: auto;
        width: 90%;
        margin: 1rem auto;
        padding: 10px;
        font-size: 0.9rem;
        text-align: left;
        display: wrap;
    }

    /* SKILLS SECTION */
    .skillssection {
        width: 90%;
        height: auto;
        margin: 2rem auto;
        padding: 10px;
        display: flex;
        flex-direction: column;
    }
    #skill {
        position: static;
        margin: 1rem auto;
        padding: 0.7rem;
    }
    .frontend {
        width: 50%;
        height: auto;
        flex-direction: column;
        margin-top: 2rem;
        align-items: flex-start;
        padding-left: 10px;
    }
    .front {
        width: 95%;
        margin-bottom: 10px;
    }
    .line {
        width: 80%;
        margin: 5px 0;
        text-align: center;
    }

    /* PROJECT SECTION */
    #project {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    .card1 {
        width: 30%; /* Small card width */
        max-width: 250px;
        height: 15rem;
        margin: 0.5rem ;
        text-align: center;
        padding: 10px;
        font-size: 0.5rem;
    }
    .spytify {
        width: 100%;
        height: auto;
    }

    /* CONTACT SECTION */
    .contactouter {
        width: 90%;
        height: auto;
        margin: 2rem auto;
        padding: 20px 10px;
    }
    .input {
        width: 90%;
    }
    .contacticons {
        margin-top: 1rem;
    }
    .conicon {
        margin: 0.5rem;
    }
     
}
